<!-- start favicons snippet (HKUST emblem) -->
{%- include snippets/prepend-baseurl.html path='/assets/apple-touch-icon.png' -%}
<link rel="apple-touch-icon" sizes="180x180" href="{{ __return }}">

{%- include snippets/prepend-baseurl.html path='/assets/favicon-32x32.png' -%}
<link rel="icon" type="image/png" sizes="32x32" href="{{ __return }}">

{%- include snippets/prepend-baseurl.html path='/assets/favicon-16x16.png' -%}
<link rel="icon" type="image/png" sizes="16x16" href="{{ __return }}">

{%- include snippets/prepend-baseurl.html path='/favicon.ico' -%}
<link rel="icon" href="{{ __return }}" sizes="any">

{%- include snippets/prepend-baseurl.html path='/assets/site.webmanifest' -%}
<link rel="manifest" href="{{ __return }}">

<meta name="theme-color" content="#003974">
<!-- end favicons snippet -->
